@import "tailwindcss";

@theme {
  --color-primary: #22407e;
  --color-secondary: #f03d29;
  --color-text: #191919;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}